body{
	font-family: 'roboto';
	color: #000;
}
 
.judul{
	background: #87D1D8;
	padding: 10px;
	text-align: center;
 
}
 
.judul h1{
	height: 15px;
}
 
a{
	/*color: #fff;*/
	padding: 5px;
	text-decoration: none;	
}
 
 
.table{
	border-collapse: collapse;
}
 
table.table th th , table.table tr td{
	padding: 10px 20px	;
}